# Environment variables 
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env_rag/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Docker
*.tar

# Runtime generated data
storage/
