langchain==0.1.20
langchain-community==0.0.38
langchain-openai==0.1.7
langchain_text_splitters
tiktoken
openai
fuzzywuzzy
tiktoken
faiss-cpu
sentence-transformers
torchvision
transformers
torch
pillow
pypdf
docx2txt
pandas
numpy